div.text {
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.menu {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 20px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    color: #f0f8ff;
}

div.menu a {
    text-decoration: none;
}

body {
    margin: 0px;
    background-color: #f5f5f5;
}

div.bodyimg img {
    position: relative;
}

div.bodyimg p {
    position: relative;
    color: #f7f2f2;
    font-size: 50px;
    font-family: fantasy;
    bottom: 100px;
}

div.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.grid img {
    display: flex;
    width: 150px;
    height: 150px;
    position: relative;
    top: 10%;
    left: 50%;
    border: 2px solid #000000;
    border-radius: 50px;
}

.grid p {
    position: relative;
    bottom: 10%
}

.grid ul {
    position: relative;
    bottom: 25%;
}

.origami {
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: #ffffff;
    width: 310px;
    height: 400px;
    margin: 50px;
    padding: 25px;
    font-family: fantasy;
    align-content: space-between;
    justify-content: space-between;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.origami :hover {
    transform: scale(1.2);
}